<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <% if user_signed_in? %>
        <%= button_to "New Installer", new_installer_path, method: :get, class: "btn btn-primary mb-3" %>
        <%= button_to "New Transaction", new_transaction_path, method: :get, class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
  </div>
  <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Project Number</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Installer</th>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.date.strftime("%Y-%m-%d") %></td>
              <td><%= transaction.project.project_number %></td>
              <td><%= transaction.description %></td>
              <td><%= number_to_currency(transaction.amount) %></td>
              <td>
                <%= transaction.installer.name %>
                <%= link_to 'Edit', edit_transaction_installer_path(transaction, transaction.installer), class: "btn btn-primary btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
